# Apache Server Block
# prevent directory listing
Options -Indexes

# `mod_rewrite` is required
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

# Customized error messages
ErrorDocument 404 /404.php

# BEGIN Caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType text/css "access 1 month"
    ExpiresByType application/pdf "access 1 month"
    ExpiresByType text/x-javascript "access 1 month"
    ExpiresDefault "access 2 days"
</IfModule>
# END Caching

# BEGIN GZIP COMPRESSION
<IfModule mod_deflate.c>
    <FilesMatch "\.(html|php|txt|xml|js|css)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>
# END GZIP COMPRESSION

# BEGIN HEADERS
<IfModule mod_headers.c>
    Header unset ETag
    FileETag None
</IfModule>
# END HEADERS
